@layer reset, main;

:root {
  --clr-text: 233 52% 19%;
  --clr-text-muted: 233 16% 44%;

  --clr-accent-1: 41 99% 47%;
  --clr-accent-2: 10 69% 60%;
  --clr-accent-3: 194 100% 25%;
  --clr-accent-4: 253 73% 56%;

  --section-padding: 3rem;
}

@layer main {
  html {
    scroll-behavior: smooth;
  }

  body {
    overscroll-behavior-y: none;
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: hsl(var(--clr-text));
  }

  .wrapper {
    width: min(1024px, 100% - 4rem);
    margin-inline: auto;
  }

  .subtitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  }

  .heading-1 {
    font-family: "Volkhov", serif;
    font-size: 3rem;
    line-height: 1;
  }

  .heading-2 {
    font-family: "Volkhov", serif;
    font-size: 2rem;
    line-height: 1;
  }

  .section-subtitle {
    margin-bottom: 1rem;
  }

  .text-muted {
    color: hsl(var(--clr-text-muted));
  }

  .text-center {
    text-align: center;
  }

  .section {
    padding-block: var(--section-padding);
  }

  .graphic-underline {
    position: relative;
    display: inline-block;

    & img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 0.1em;
      z-index: -1;
    }
  }

  .underline-animation {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: currentColor;
      height: 0.1em;
      width: 100%;
      opacity: 0;
      transform: translateY(-0.2em);
      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }

    &:hover::after {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-block: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .logo {
    font-size: 1.25rem;
    line-height: 1;
  }

  .nav-links {
    display: none;
    gap: 2rem;
  }

  .user-actions {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    a {
      display: none;
    }
  }

  .user-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(var(--clr-text));
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

    &:hover {
      background-color: hsl(var(--clr-text));
      color: white;
    }
  }

  .hamburger {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
  }

  #page-left-graphic {
    --_size: 20rem;

    background-color: hsl(var(--clr-accent-4));
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: calc(-1 * (var(--_size) - 3%));
    filter: blur(10rem);
    z-index: -1;
  }

  #page-right-graphic {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: none;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3rem;
  }

  .hero-subtitle {
    color: hsl(var(--clr-accent-2));
    margin-bottom: 1rem;
  }

  .hero-title {
    margin-bottom: 1.2rem;
  }

  .hero-text {
    margin-bottom: 1.5rem;
  }

  .ctas {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 500;
  }

  .cta-main {
    background-color: hsl(var(--clr-accent-1));
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 3rem -1rem hsl(var(--clr-accent-1));
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;

    &:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 1.5rem 3rem -0.75rem hsl(var(--clr-accent-1));
    }
  }

  .cta-video {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: transform 200ms ease-in-out;

    &:hover {
      transform: translateY(-0.2rem);
    }
    &:hover .play-icon {
      box-shadow: 0 1.5rem 3rem -0.5rem hsl(var(--clr-accent-2));
    }
  }
  .play-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 1.2rem;
    background-color: hsl(var(--clr-accent-2));
    color: white;
    box-shadow: 0 1.5rem 3rem -0.75rem hsl(var(--clr-accent-2));
    transition: box-shadow 200ms ease-in-out;
  }

  .hero-image {
    width: 80%;
    aspect-ratio: 0.829 / 1;
  }

  #services {
    position: relative;
  }

  .services-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .services-card {
    display: grid;
    gap: 0.5rem;
    justify-items: center;
    padding: 1rem;
    border-radius: 2rem;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    font-weight: 500;

    &:hover {
      box-shadow: 0 0.5rem 1rem hsl(var(--clr-text) / 0.1);
      transform: translateY(-0.2rem);
    }

    img {
      width: 5rem;
      height: 5rem;
    }

    h3 {
      font-weight: 600;
      font-size: 1rem;
    }
    p {
      max-width: 16ch;
      font-size: 0.875rem;
    }
  }

  #services-right-graphic {
    display: none;
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: -1;
    width: 8rem;
    height: 8rem;
  }

  .destinations-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .destinations-card {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem hsl(var(--clr-text) / 0.1);
    cursor: pointer;
    transition: transform 200ms ease-in-out;

    &:hover {
      transform: translateY(-0.2rem);
    }
  }
  .destinations-content {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
  }
  .destinations-image {
    aspect-ratio: 1/1;
  }
  .destinations-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    h3,
    p {
      font-weight: 500;
      font-size: 1rem;
    }
  }
  .destinations-duration {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
  }
  .duration-icon {
    width: 1rem;
    height: 1rem;
    transform: rotate(90deg);
  }

  .steps-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .steps {
    display: grid;
    gap: 3rem;
  }

  .step {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .step-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    padding: 0.75rem;
  }
  .step-icon[data-step="1"] {
    color: white;
    background-color: hsl(var(--clr-accent-1));
  }
  .step-icon[data-step="2"] {
    color: white;
    background-color: hsl(var(--clr-accent-2));
  }
  .step-icon[data-step="3"] {
    color: white;
    background-color: hsl(var(--clr-accent-3));
  }

  .step-title {
    font-weight: 600;
    font-size: 1rem;
  }
  .step-description {
    font-size: 0.875rem;
    max-width: 40ch;
  }

  .steps-image {
    display: none;
    aspect-ratio: 1/1;
    width: 40%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem hsl(var(--clr-text) / 0.1);
  }

  .faqs-container {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
  }

  .faq {
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1rem hsl(var(--clr-text) / 0.1);
    max-width: 80ch;
    margin-inline: auto;
    display: flex;
    gap: 1rem;
  }

  .faq-icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
  }

  .faq-content {
    flex-shrink: 1;
    display: grid;
    grid-template-rows: auto 0fr;
    gap: 0;
    transition: grid-template-rows 200ms ease-in-out, gap 200ms ease-in-out;
  }

  .faq[data-active="true"] .faq-content {
    grid-template-rows: auto 1fr;
    gap: 0.75rem;
  }

  .faq-title {
    font-weight: 600;
    font-size: 1rem;
  }
  .faq-answer {
    overflow: hidden;
    font-size: 0.875rem;
  }

  #partners {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr)); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .partner-logo {
    width: 8rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;

    &:hover,
    &[data-featured="true"] {
      transform: translateY(-0.2rem);
      box-shadow: 0 1.5rem 3rem -1rem hsl(var(--clr-text) / 0.2);
    }
  }
  .partner-logo img {
    mix-blend-mode: luminosity;
  }

  #newsletter {
    position: relative;
  }
  #newsletter-graphic-send {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    background-image: linear-gradient(
      to bottom,
      hsl(var(--clr-accent-4) / 0.8),
      hsl(var(--clr-accent-4))
    );
    border-radius: 50%;
    padding: 0.5rem;

    --_translate: 0.75rem;
    transform: translate(
      var(--_translate),
      calc(var(--section-padding) - var(--_translate))
    );
  }

  .newsletter-widget {
    position: relative;
    background-color: hsl(var(--clr-accent-4) / 0.1);
    padding: 3rem;
    border-radius: 4rem 0.75rem 0.75rem 0.75rem;
    display: grid;
    gap: 2rem;
    overflow: hidden;
  }

  .newsletter-title {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.3;
  }

  #newsletter-form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: min(100%, 32rem);
    margin-inline: auto;
    font-size: 0.875rem;

    --_padding-inline: 1.25rem;
    --_padding-block: 0.75rem;

    input {
      --_icon-size: 1.5rem;
      --_gap: 0.75rem;

      border: none;
      outline: none;
      padding: var(--_padding-block) var(--_padding-inline)
        var(--_padding-block)
        calc(var(--_padding-inline) + var(--_icon-size) + var(--_gap));
      border-radius: 0.5rem;
      background-image: url(./images/newsletter/envelope.svg);
      background-size: var(--_icon-size);
      background-position: var(--_padding-inline) center;
      background-repeat: no-repeat;

      &::placeholder {
        color: hsl(var(--clr-text-muted));
      }
      &:placeholder-shown {
        background-image: url(./images/newsletter/envelope-muted.svg);
      }
    }
    button {
      position: relative;
      color: white;
      background-image: linear-gradient(
        to bottom,
        hsl(var(--clr-accent-2) / 0.8),
        hsl(var(--clr-accent-2))
      );
      z-index: 1;
      padding: 0.75rem 1.25rem;
      border-radius: 0.5rem;
      overflow: hidden;
      font-weight: 500;
      transition: background 200ms ease-in-out;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
          to bottom,
          hsl(var(--clr-accent-2)),
          hsl(var(--clr-accent-2) / 0.8)
        );
        z-index: -1;
        transition: opacity 200ms ease-in-out;
        opacity: 0;
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }

  #newsletter-graphic-right,
  #newsletter-graphic-left {
    position: absolute;
    z-index: -1;
    color: hsl(var(--clr-accent-4) / 0.1);
    display: none;
  }
  #newsletter-graphic-left {
    bottom: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    transform: translate(1rem, 30%);
  }
  #newsletter-graphic-right {
    top: 0;
    right: 0;
    width: 15rem;
    height: 15rem;
    transform: translate(20%, -20%) rotate(-60deg);
  }

  @media (width >= 30rem) {
    .user-actions {
      a {
        display: block;
      }
    }

    .ctas {
      flex-direction: row;
      align-items: center;
    }

    .step {
      flex-direction: row;
    }
  }

  @media (width >= 48rem) {
    .heading-2 {
      font-size: 2.5rem;
    }

    .nav-links {
      display: flex;
    }

    .logo {
      font-size: 1.5rem;
    }

    .user-actions {
      gap: 1.5rem;
    }

    .hamburger {
      display: none;
    }

    #page-right-graphic {
      display: block;
      width: 36rem;
      height: 36rem;
    }

    .hero {
      flex-direction: row;
      align-items: center;
      gap: 3rem;
    }

    .hero-subtitle {
      margin-bottom: 1.5rem;
    }

    .hero-title {
      margin-bottom: 2rem;
    }

    .hero-text {
      margin-bottom: 2rem;
    }

    .ctas {
      flex-direction: column;
      align-items: start;
    }

    .hero-image {
      width: 50%;
    }

    #services-right-graphic {
      display: block;
    }

    .services-container {
      margin-top: 4rem;
    }

    .services-card {
      padding: 2rem;

      img {
        width: 7rem;
        height: 7rem;
      }
      h3 {
        font-weight: 600;
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
      }
    }

    #services-right-graphic {
      top: 4rem;
    }

    .destinations-container {
      margin-top: 4rem;
    }
    .destinations-details {
      h3,
      p {
        font-size: 1.2rem;
      }
    }
    .destinations-duration {
      font-size: 1rem;
    }

    .steps {
      width: 50%;
    }

    .step-content {
      display: grid;
      gap: 0.5rem;
    }

    .step-title {
      font-size: 1.2rem;
    }
    .step-description {
      font-size: 1rem;
    }

    .steps-image {
      display: block;
    }

    .faq {
      gap: 1.5rem;
      cursor: pointer;
    }

    .faq-icon {
      width: 1.8rem;
      height: 1.8rem;
    }
    .faq[data-active="true"] .faq-icon[data-icon="plus"] {
      display: none;
    }
    .faq[data-active="false"] .faq-icon[data-icon="minus"] {
      display: none;
    }

    .faq-title {
      font-size: 1.2rem;
    }
    .faq-answer {
      font-size: 1rem;
    }

    #partners {
      gap: 2rem;
    }

    .partner-logo {
      width: 10rem;
    }

    .newsletter-widget {
      padding: 4rem 6rem;
      border-radius: 6rem 1rem 1rem 1rem;
    }

    #newsletter-graphic-send {
      width: 3.5rem;
      height: 3.5rem;
      padding: 0.75rem;
      --_translate: 0.75rem;
    }
    #newsletter-graphic-left,
    #newsletter-graphic-right {
      display: block;
    }

    .newsletter-title {
      font-size: 1.5rem;
    }

    #newsletter-form {
      grid-template-columns: 1fr auto;
      gap: 1.5rem;
      font-size: 1rem;

      --_padding-inline: 1.5rem;
      --_padding-block: 1rem;

      input {
        --_gap: 0.5rem;
      }
    }
  }

  @media (width >= 64rem) {
    .navbar {
      font-size: 1rem;
    }

    .logo {
      font-size: 1.75rem;
    }

    #page-right-graphic {
      width: 44rem;
      height: 44rem;
    }

    .heading-1 {
      font-size: 4rem;
    }

    .ctas {
      gap: 3rem;
      flex-direction: row;
      align-items: center;
    }
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
    line-height: 1.5;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
